fastmcp
psycopg[binary]
requests
beautifulsoup4
psycopg2-binary
requests
beautifulsoup4
python-dotenv
numpy
numpy
pydantic
spacy
sentence-transformers
google-generativeai

spacy
sentence-transformers
playwright #Added to support PDF processing